# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# IDE or Editor settings
.vscode/
.idea/
*.swp

# OS specific files
.DS_Store
Thumbs.db